@model Survey

<form action="submit" method="POST">
    name:
    <input type="text" name="name">
    location:
    <input type="text" name="location">
    lang:
    <input type="text" name="lang">
    comment:
    <input type="textarea" name="comment">
    <button>submit!</button>
</form>